<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/style.css">
    <title>Информация о репозитории</title>
</head>
<body>
    <h1>Информация о репозитории</h1>
    {% if data.error %}
        <p>Ошибка: {{ data.error }}</p>
    {% else %}
        <p><strong>Название:</strong> {{ data.name }}</p>
        <p><strong>URL:</strong> <a href="{{ data.html_url }}" target="_blank">{{ data.html_url }}</a></p>
        <p><strong>Описание:</strong> {{ data.description }}</p>
    {% endif %}

    <h2>Поиск по коммитам</h2>
    <form action="/search-commits" method="POST">
        <input type="hidden" name="repo_name" value="{{ data.html_url }}">
        <label for="commit_message">Сообщение коммита:</label>
        <input type="text" name="commit_message" id="commit_message" required>
        <button type="submit">Искать</button>
    </form>
    

    {% if commits %}
        <h3>Результаты поиска:</h3>
        <ul>
            {% for commit in commits %}
                <li>
                    <strong>{{ commit.committer }}</strong>: 
                    <a href="{{ commit.url }}" target="_blank">{{ commit.commit_message }}</a>
                </li>
            {% endfor %}
        </ul>
    {% endif %}

    <form id="repo-form" method="POST" action="/commit-stats">
        <label for="repo_owner">Имя пользователя:</label>
        <input type="text" id="repo_owner" name="repo_owner" required><br>

        <label for="repo_name">Название репозитория:</label>
        <input type="text" id="repo_name" name="repo_name" required><br>

        <button type="submit">Получить статистику</button>
    </form>

    <script>
        document.getElementById('repo-form').addEventListener('submit', function(event) {
            event.preventDefault();

            const repoOwner = document.getElementById('repo_owner').value;
            const repoName = document.getElementById('repo_name').value;

            window.location.href = `/commit-stats?repo_owner=${repoOwner}&repo_name=${repoName}`;
        });
    </script>
    <a href="/">Назад</a>
</body>
</html>


