<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/style.css">
    <title>Информация о репозитории</title>
    <style>
        .hidden-form {
            display: none; /* Полностью скрывает элемент */
        }
    </style>
</head>
<body>
    <h1>Информация о репозитории</h1>
    {% if data.error %}
        <p>Ошибка: {{ data.error }}</p>
    {% else %}
        <p><strong>Название:</strong> {{ data.name }}</p>
        <p><strong>URL:</strong> <a href="{{ data.html_url }}" target="_blank">{{ data.html_url }}</a></p>
        <p><strong>Описание:</strong> {{ data.description }}</p>
    {% endif %}

    <h2>Поиск по коммитам</h2>
    <form action="/search-commits" method="POST">
        <input type="hidden" name="repo_name" value="{{ data.html_url }}">
        <label for="commit_message">Сообщение коммита:</label>
        <input type="text" name="commit_message" id="commit_message" required>
        <button type="submit">Искать</button>
    </form>

    {% if commits %}
        <h3>Результаты поиска:</h3>
        <ul>
            {% for commit in commits %}
                <li>
                    <strong>{{ commit.committer }}</strong>: 
                    <a href="{{ commit.url }}" target="_blank">{{ commit.commit_message }}</a>
                </li>
            {% endfor %}
        </ul>
    {% endif %}

    <h2>Получить статистику по коммитам</h2>
    <div class="hidden-form">
        <form id="repo-form" method="POST" action="/commit-stats">
            <input type="text" id="repo_owner" name="repo_owner" required>
            <input type="text" id="repo_name" name="repo_name" required>
        </form>
    </div>
    <button id="get-stats-btn">Получить статистику</button>

    <script>
        // Извлекаем имя владельца и название репозитория из переданных данных в шаблоне
        const repoUrl = "{{ data.html_url }}";  // Получаем URL репозитория
        const urlParts = repoUrl.split('/');     // Разбиваем URL по слэшам

        const repoOwner = urlParts[urlParts.length - 2];  // Имя пользователя (предпоследний элемент)
        const repoName = urlParts[urlParts.length - 1];   // Название репозитория (последний элемент)

        // Заполняем скрытые поля формы
        document.getElementById('repo_owner').value = repoOwner;
        document.getElementById('repo_name').value = repoName;

        // Обработчик нажатия на кнопку
        document.getElementById('get-stats-btn').addEventListener('click', function() {
            document.getElementById('repo-form').submit(); // Отправка формы
        });
    </script>

    <a href="/">Назад</a>
</body>
</html>