<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/style.css">
    <title>Результаты поиска коммитов</title>
</head>
<body>
    <h1>Результаты поиска коммитов</h1>
    {% if commits %}
        <ul>
            {% for commit in commits %}
                <li>
                    <strong>SHA:</strong> {{ commit.sha }}<br>
                    <strong>Сообщение:</strong> {{ commit.message }}<br>
                    <strong>Автор:</strong> {{ commit.author_email }}<br>
                    <strong>Дата:</strong> {{ commit.date }}<br>
                    <a href="{{ commit.url }}" target="_blank">Просмотр коммита</a>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>Коммиты не найдены.</p>
    {% endif %}
    <a href="{{ url_for('commit_stats', repo_name=repo_name, query=query) }}">Посмотреть график зависимости коммитов от времени</a>
    <a href="/">Назад</a>
</body>
</html>

